<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vuex@next"></script>


  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="skeleton/css/normalize.css">
  <link rel="stylesheet" href="skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="skeleton/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="app">
    <div class="row">
      <div class="four columns" style="text-align: center"><h1>Car #1</h1></div>
      <div class="six columns">Postition: xx</div>
    </div>

    <div v-if="$store.state.cars.length === 0">
      No data
    </div>
    <div class="row" v-else v-for="(value, name) in $store.state.cars">
      <div class="six columns">
        <h5><b>Timing</b></h5>
        <table style="width: 100%">
          <thead>
          <tr>
            <th>Lap</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{value["car-lap-number"] && value["car-lap-number"].value || '0'}}</td>
              <td>{{value["car-lap-time"] && value["car-lap-time"].value || '0'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="four columns">
        <b>Fuel</b><br/>
        {{value["car-fuel"] && value["car-fuel"].value || '0'}}%<br/><br/>
        <b>Tirewear</b><br/>
        {{value["tire-wear"] && value["tire-wear"].value || '0'}}<br/><br/>
        <b>Damage</b><br/>
        {{value["damage"] && value["damage"].value || '0'}}<br/><br/>
        <b>Limbmode</b><br/>
        {{value["limb-mode"] && value["limb-mode"].value || 'false'}}<br/>
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="app.js"></script>
  <script src="driver.js"></script>

</body>
</html>
