<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Driver View - OpenRMS</title>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vuex@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        table.car-status {
            width: 100%;
        }

        table.car-status tr td:first-child {
            font-weight: bold;
        }

        table.car-status tr td:nth-child(2) {
            text-align: right;
        }

        table.last-laps {
            width: 100%;
        }

        table.last-laps tr th:first-child {
            text-align: right;
            width: 15%;
        }

        table.last-laps tr td:first-child {
            text-align: right;
        }

        table.last-laps td:nth-child(3), table.last-laps th:nth-child(3) {
            text-align: right;
            width: 15%;
        }
    </style>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="skeleton/css/normalize.css">
    <link rel="stylesheet" href="skeleton/css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="skeleton/images/favicon.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" id="app" style="margin-top:20px">
    <div v-if="car == ''">
        <label>Select car</label>
        <select v-model="car">
            <option value="">Select car</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div v-else>
        <div class="row">
            <div class="three columns"><h1>Car #{{ car }}</h1></div>
            <div class="seven columns">
                <button v-on:click="start" class="button-primary">start</button>&#160;
                <button v-on:click="pause">pause</button>&#160;
                <button v-on:click="pause">track call</button>&#160;
                <button v-on:click="stop">stop</button>
                <br/>
                <h5><b>Postition</b>: {{ position }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <h5><b>Timing </b><small>Last 5 laps</small></h5>
                <div v-if="lastLaps.length == 0">
                    No data
                </div>
                <table v-else style="width: 100%" class="last-laps">
                    <thead>
                    <tr>
                        <th>Lap</th>
                        <th>Driver</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="lap in lastLaps">
                        <td>#{{lap["lap-number"] || ''}}</td>
                        <td></td>
                        <td>{{lap["lap-time"] || ''}}<small style="font-weight: bold;">s</small></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="three columns">
                <h5><b>Status </b></h5>
                <table class="car-status">
                    <tbody>
                    <tr>
                        <td>On track:</td>
                        <td>{{ onTrack }}</td>
                    </tr>
                    <tr>
                        <td>In pit:</td>
                        <td>{{ inPit }}</td>
                    </tr>
                    <tr>
                        <td>Pit stop:</td>
                        <td>{{ pitStop }}</td>
                    </tr>
                    <tr>
                        <td>limb mode:</td>
                        <td>{{ limbMode }}</td>
                    </tr>
                    <tr>
                        <td>Fuel:</td>
                        <td>{{ fuel }} %</td>
                    </tr>
                    <tr>
                        <td>Damage:</td>
                        <td>{{ damage }} %</td>
                    </tr>
                    <tr>
                        <td>Tire wear:</td>
                        <td>{{ tireWear }} %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <pre>{{ JSON.stringify($store.state, null, 2) }}</pre>

</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="app.js"></script>
<script src="driver.js"></script>


</body>
</html>
