<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vuex@next"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script>
    moment().format();
  </script>

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="skeleton/css/normalize.css">
  <link rel="stylesheet" href="skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="skeleton/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="app">
    <div class="row" style="margin-top: 50px">
      <div class="twelve columns">
        <h1>OpenRMS</h1>
      </div>
    </div>
    <div class="row">
      <div class="four columns" style="text-align: center">Start</div>
      <div class="four columns" style="text-align: center">Stop</div>
      <div class="four columns" style="text-align: center">Pause</div>
    </div>
    <div class="row" style="margin-top: 50px">
        <table class="u-full-width">
          <thead>
          <tr>
            <th style="text-align: right">Position</th>
            <th style="text-align: right">Car</th>
            <th style="text-align: right">Lap</th>
            <th style="text-align: right">Lap time</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="!$store.state.race">
            <td  style="text-align: center" colspan="3">
              No data</td>
          </tr>
            <template v-else v-for="(value, name) in $store.state.race['race-leaderboard']">
              <tr v-for="(k, v) in value" >
                <td style="text-align: right">#{{v+1}}</td>
                <td style="text-align: right">{{k["Car"]}}</td>
                <td style="text-align: right">{{k["Lap"]["LapNumber"]}}</td>
                <td style="text-align: right">{{ $filters.lapTime( k["Lap"]["LapTime"] )}}<small>s</small></td>
              </tr>
            </template>
          </tbody>
        </table>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="app.js"></script>
  <script src="leaderboard.js"></script>

</body>
</html>
